<!doctype html>
<html>
  <head>
    <title>Chat Now</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="bower_components/ng-emoticons/src/ng-emoticons.css">  
  </head>
  <body ng-controller="mainController" ng-init="clickToOpen()">
    
    <div id="loader-wrapper">
      <div id="loader">
        <i class="fa fa-spinner fa-spin"></i>
      </div>   
    </div>

    <div class="container room"> 
      <div class="row" >
          <div class="hidden-xs col-sm-3 user_list">
            <div class="row head">
              <div class="col-xs-12">
                <h3><i class="fa fa-users"></i> User list</h3>
               </div> 
            </div>
            <hr class="ray">
            <div class="col-xs-12 chat_room" ng-cloak scroll-glue-bottom>
              <ul id="users" ng-cloak>
                <li ng-repeat="user in users" class="animate">
                    <img ng-src="{{getImageSource(user.gender)}}" alt="" width="50px" height="50px">
                    <span >{{user.name}} <small>({{user.email}})</small></span>
                </li>
              </ul>
            </div>
           </div>
          <div class="col-xs-12 col-sm-9">
            <div class="row head">
              <div class="col-xs-8">
                <h3>Chat Panel <i class="fa fa-weixin"></i></h3>
              </div>
              <div class="col-xs-4" ng-cloak ng-show="user">
                <img ng-src="{{getImageSource(user.gender)}}" alt="" width="50px" height="50px">
                  <span>{{user.name}} <small>({{user.email}})</small></span>
              </div>
            </div>
            <hr class="ray">
            <div class="col-xs-12 chat_room" ng-cloak scroll-glue-bottom>
              <ul id="messages" class="chat_message" class="col-xs-12">
                <li ng-repeat="message in messages" class="animate">
                <div style="position:relative">
                  <div ng-if="user.email !==  message.user.email" class="smart-collaboration-icon" ng-click="speak(message)">
                     <i class="fa fa-bullhorn fa-lg"></i>
                  </div>
                  <div class="user_message">
                    <img ng-src="{{getImageSource(message.user.gender)}}" alt="">
                    <p><b>{{message.user.name}}</b></p>
                   </div>
                   <p class="pull-right">{{timestampToDate(message.timestamp)}}</p>
                   <p class="message_text" ng-bind-html="message.messages | emoticons"></p>
                   <div class="clearfix"></div>
                   <div ng-if=  "user.email === message.user.email" class="smart-collaboration-icon-right" ng-click="speak(message)">
                     <i class="fa fa-bullhorn icon-flipped fa-lg"></i>
                  </div>
                 </div>
                </li>
              </ul>

            </div>
          </div>
        </div>  
    </div> 
    <div class="container" style="margin-top:20px;"> 
      <div class="row chat_box_input ">
              <form action="" class="form-inline" name="input_message" novalidate>
                <div class="form-group col-sm-10">
                  <input class="form-control" style="width:100%" ng-model="newMessage" placeholder="Message with <3 Here" id="chatbox" ng-bind-html="text | emoticons" required/>
              </div>
              <div class="form-group col-sm-2">
                  <button style="width:100%" type="submit" ng-disabled="input_message.$invalid" ng-click="formSubmit(newMessage,$event)" class="btn btn-success">Send</button>
              </div>
              <div class="clearfix"></div>
              </form>
        </div>
      </div>
     </div>
    <script src="http://responsivevoice.org/responsivevoice/responsivevoice.js"></script>   
    <script data-main="./scripts/main" src="./bower_components/requirejs/require.js"></script>
    <script src="./scripts/rconfig.js"></script>
  </body>
</html>
