*{
       line-height: normal !important;
       font-family: 'Roboto', sans-serif;
      }
      body{
        background: #ffa500 !important;
        overflow-x: hidden;
        overflow-y: auto; 
      }
      .room{
        background: #fff;
        height:600px;
      }
      .user_list{
        border-right: 2px solid #CCAF7A;
      }
      .chat_room{
        overflow-y:auto;
        height: 450px; 
      }
      .head{
        color: #CCAF7A
      }
      .ray {
        height: 30px;
        border-style: solid;
        border-color: #CCAF7A;
        border-width: 1px 0 0 0;
        border-radius: 20px;
      }
      .ray:before { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;    
        border-style: solid;
        border-color: #CCAF7A;
        border-width: 0 0 1px 0;
        border-radius: 20px;
      }
      hr{
        margin:0 !important;
      }
      
      .user_list ul { padding-left:20px; list-style:none; }

      .user_list li { margin-bottom:10px; }

      .user_list li:before {    
          font-family: 'FontAwesome';
          content: '\f111';
          color:#54ce3c;
          margin:0 5px 0 -15px;
      }
      .chat_message{
        margin-bottom: 50px;
        list-style-type: none;
        position: absolute;
        width: 75%;
      }
      .chat_message li img {
        float: left;
        margin: auto;
        width: 45px;
        height: 45px;
      }
       
      .chat_message li p {
        font-size: 20px;
         word-wrap: break-word;
         padding: 2px;
      }

      .chat_message li .message_text{
        padding: 20px;
      }
       
      .chat_message li {
        padding: 1px;
        background: #ffe4b2;
        margin:5px 0;
        border: 1px solid grey;
        box-shadow: 2px 2px 2px #888
      }
       
      .chat_message li:hover {
        background: #ffdb99;
        cursor: pointer;
      }      
      .room{
        border: 2px solid  #CCAF7A;
        box-shadow: 10px 10px 5px #888888;
      }

     .circular {
   background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.user_message{
  float:left;
  border:1px solid #CCAF7A;
  box-shadow: 2px 2px 2px #888;
  margin-right: 10px
}
.user_message p{
  word-wrap: break-word;
}
@media(max-width:767px){
     .room{
        background: #fff;
        height:450px;
        margin-top:10px;
      }
    .chat_room{
        height: 300px !important; 
      }
    .user_list{
        height: 350px;
      }
    .chat_message li img {
      width:30px;
      height: 30px;
    } 
    .chat_message li p {
        font: 200 12px/2.0 Georgia, Times New Roman, serif;
        word-wrap: break-word;
      }
}
@media(min-width:768px){
    .room{
        height:500px;
        margin-top:30px;
        }
    .chat_room{
        height: 350px !important; 
      }
}
@media(min-width:992px){
    .room{
        height:500px;
        margin-top:50px;
        }
    .chat_room{
        height: 350px !important; 
      }

}
@media(min-width:1200px){
  .room{
        height:600px;
        margin-top:50px;
        }
    .chat_room{
        height: 450px !important; 
      }
}

/*********Loader*******************/
#loader-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          background: white;
      }
      #loader {
          display: block;
          position: relative;
          left: 48%;
          top: 45%;
          font-size: 500%;
          color:#22262e;
          width: 150px;
          height: 150px;
          z-index: 1001;
      }

      .loaded #loader-wrapper {
          visibility: hidden;
      }

      .loaded #loader {
          opacity: 0;
      }


/*********END Loader*******************/

/*********Chat Thread design**********/
.chat_message:after {
content: " ";
background-color: #CCAF7A;
position: absolute;
display: block;
width: 3px;
top: 0px;
left: 15px;
bottom: 0;
z-index: 1;
}
.chat_message:before {
content: " ";
background-color: #CCAF7A;
position: absolute;
display: block;
width: 3px;
top: 0px;
right: -30px;
bottom: 0;
z-index: 1;
}
.smart-collaboration-icon {
background: #C34E69;
color: #fff;
border-radius: 50%;
position: absolute;
width: 32px;
height: 32px;
line-height: 28px;
font-size: 14px;
text-align: center;
left: -40px;
top: 50%;
z-index: 100;
padding: 6px;
}

.smart-collaboration-icon-right {
background: #54ce3c;
color: #fff;
border-radius: 50%;
position: absolute;
width: 32px;
height: 32px;
line-height: 28px;
font-size: 14px;
text-align: center;
right: -45px;
top: 50%;
z-index: 100;
padding: 6px;
}

.icon-flipped {
transform: scaleX(-1) !important;
-moz-transform: scaleX(-1) !important;
-webkit-transform: scaleX(-1) !important;
-ms-transform: scaleX(-1) !important;
}

/********* END Chat Thread design**********/
/*********Animation****************/


.animate.ng-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  display: block;
    position: relative;
} 
@-webkit-keyframes enter {
  from {
      opacity: 0;
      height: 0px;
      left: -70px;
    }
    75% {
      left: 15px;
    }
    to {
        opacity: 1;
      height: 30px;
      left: 0px;
    }
}
@keyframes enter {
  from {
      opacity: 0;
      height: 0px;
      left: -70px;
    }
    75% {
      left: 15px;
    }
    to {
        opacity: 1;
      height: 30px;
      left: 0px;
    }
}

.animate.ng-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  display: block;
    position: relative;
} 
@-webkit-keyframes leave {
  to {
      opacity: 0;
      height: 0px;
      left: -70px;
    }
    25% {
      left: 15px;
    }
    from {
        opacity: 1;
      height: 30px;
      left: 0px;
    }
}
@keyframes leave {
  to {
      opacity: 0;
      height: 0px;
      left: -70px;
    }
    25% {
      left: 15px;
    }
    from {
        opacity: 1;
      height: 30px;
      left: 0px;
    }
}



/*********END Animation****************/