*{
       line-height: normal !important;
      }
      body{
        background: #ffa500 !important;
        overflow-x: hidden;
        overflow-y: auto: 
      }
      .room{
        background: #fff;
        height:600px;
      }
      .user_list{
        border-right: 2px solid #CCAF7A;
      }
      .chat_room{
        overflow-y:auto;
        height: 450px; 
      }
      .head{
        color: #CCAF7A
      }
      .ray {
        height: 30px;
        border-style: solid;
        border-color: #CCAF7A;
        border-width: 1px 0 0 0;
        border-radius: 20px;
      }
      .ray:before { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;    
        border-style: solid;
        border-color: #CCAF7A;
        border-width: 0 0 1px 0;
        border-radius: 20px;
      }
      hr{
        margin:0 !important;
      }
      
      .user_list ul { padding-left:20px; list-style:none; }

      .user_list li { margin-bottom:10px; }

      .user_list li:before {    
          font-family: 'FontAwesome';
          content: '\f111';
          color:#54ce3c;
          margin:0 5px 0 -15px;
      }
      .chat_message{
        margin-bottom: 50px;
        list-style-type: none;
      }
      .chat_message li img {
        float: left;
        margin: auto;
        width: 45px;
        height: 45px;
      }
       
      .chat_message li p {
        font: 200 12px/1.5 Georgia, Times New Roman, serif;
         word-wrap: break-word;
         padding: 2px;
      }

      .chat_message li .message_text{
        padding: 20px;
      }
       
      .chat_message li {
        padding: 1px;
        background: #ffe4b2;
        margin:5px 0;
        border: 1px solid grey;
        box-shadow: 2px 2px 2px #888
      }
       
      .chat_message li:hover {
        background: #ffdb99;
        cursor: pointer;
      }      
      .room{
        border: 2px solid  #CCAF7A;
        box-shadow: 10px 10px 5px #888888;
      }

     .circular {
   background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.user_message{
  float:left;
  border:1px solid #CCAF7A;
  box-shadow: 2px 2px 2px #888;
  margin-right: 10px
}
.user_message p{
  word-wrap: break-word;
}
@media(max-width:767px){
     .room{
        background: #fff;
        height:450px;
        margin-top:10px;
      }
    .chat_room{
        height: 300px !important; 
      }
    .user_list{
        height: 350px;
      }
    .chat_message li img {
      width:30px;
      height: 30px;
    } 
    .chat_message li p {
        font: 200 12px/2.0 Georgia, Times New Roman, serif;
        word-wrap: break-word;
      }
}
@media(min-width:768px){
    .room{
        height:500px;
        margin-top:30px;
        }
    .chat_room{
        height: 350px !important; 
      }
}
@media(min-width:992px){
    .room{
        height:500px;
        margin-top:50px;
        }
    .chat_room{
        height: 350px !important; 
      }

}
@media(min-width:1200px){
  .room{
        height:600px;
        margin-top:50px;
        }
    .chat_room{
        height: 450px !important; 
      }
}