<div class="row">
	<div class="col-sm-12">
		<div class="circular col-xs-6" ng-style = 'profileImage'>
		</div>
		<div class="col-xs-6">
		<form name="joinForm" novalidate ng-init="user.gender='Male'">
			<input class="form-control"type="text" placeholder="Nick Name" name="name" ng-model="user.name" required>
			<br>
			<input type="email" class="form-control"placeholder="rachit@hello.com" name="email" ng-model="user.email" required><br>
			<input type="radio" name="gender" value="Male" ng-checked="true" ng-model="user.gender">Male<br>
			<input type="radio" name="gender" value="Female" ng-model="user.gender">Female<br>
			<input type="radio" name="gender" value="Anonymous" ng-model="user.gender">Anonymous<br>
			<input type="submit" class="btn btn-warning" value="Join" ng-disabled="joinForm.$invalid" ng-click="closeThisDialog();joinChat(user)">
		</form>
		</div>
	</div>
</div>
